@import url("https://fonts.googleapis.com/css?family=Poiret+One");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #b1e1e2;
  animation: sky 20s linear infinite;
}
@keyframes sky {
  0% {
    background-color: #b08fcc;
  }
  25% {
    background-color: #b1e1e2;
  }
  50% {
    background-color: #fcd2e2;
  }
  75% {
    background-color: #636888;
  }
  100% {
    /* background-color: #000; */
    background-color: #b98fcc;
  }
}

h1 {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  font-family: "Poiret One", sans-serif;
  font-size: 92px;
  color: #fff;
  text-align: center;
  animation: day 20s linear infinite;
}
@keyframes day {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.wrap {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 400px;
  /* border: 1px solid #000; */
}
.sky {
  position: absolute;
  width: 100%;
  height: 100%;
}
.sun {
  position: absolute;
  top: -147px;
  left: 391px;
  transform-origin: center 515px;
  /* transform: rotate(90deg); */
  animation: sun 20s linear infinite;
}
@keyframes sun {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }
  25% {
    opacity: 1;
    transform: rotate(-30deg);
  }
  50% {
    opacity: 1;
    transform: rotate(30deg);
  }
  75% {
    opacity: 0;
    transform: rotate(90deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
  }
}
.cloud1 {
  position: absolute;
  left: 0;
  top: -30px;
  animation: flow 10s linear infinite;
}
.cloud2 {
  position: absolute;
  left: 0;
  top: 20px;
  animation: flow 20s linear infinite;
}

@keyframes flow {
  0% {
    left: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: 90%;
    opacity: 0;
  }
}

.town {
}
.circle {
  position: absolute;
  left: 328px;
  top: 70px;
  opacity: 0.7;
  animation: rotation 20s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.night {
  position: absolute;
  left: 33px;
  bottom: 0;
}
.day {
  position: absolute;
  left: 33px;
  bottom: 0;
  animation: day 20s linear infinite;
}

.people {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: day 20s linear infinite;
}
.man {
  position: absolute;
  left: 0;
  bottom: 0;
  animation: flow 7s linear infinite;
}
.family {
  position: absolute;
  left: 0;
  bottom: 0;
  animation: flow 20s linear infinite;
}
